# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage
coverage.html
.cover*

# Dependency directory
node_modules

# Example build directory
example/dist
.publish

# Editor and other tmp files
*.swp
*.un~
*.iml
*.ipr
*.iws
*.sublime-*
.idea/
*.DS_Store

src/FileInputBox.js

.editorconfig

.eslintignore

.eslintrc

bower.json

dist/react-file-input-box.js

dist/react-file-input-box.min.js

example/src/index.html

example/src/example.less

example/src/example.js

gulpfile.js
